.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 20px;
  font-family: var(--font-family);
}

.label {
  margin-bottom: 8px;
  font-size: 16px;
  color: #333;
}

.label:hover {
  text-decoration: underline;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
}

select:hover,
select:focus {
  border-color: #d4af37;
  box-shadow: 0 0 5px rgba(212, 175, 55, 0.5);
}

option {
  padding: 10px;
  background-color: #fff;
  color: #333;
}

option:hover {
  background-color: #f1f1f1;
}

.select {
  color: var(--accent-color);
  background-color: var(--secondary-color);
  border: 2px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  box-shadow: 3px 3px 0 var(--darkest-teal);
  transition: all 0.2s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select:hover {
  border-color: var(--lighter-teal);
}

.select:focus {
  background-color: var(--background-color);
  border-color: var(--primary-color);
  outline: none;
}

.select option {
  background-color: var(--background-color);
  color: var(--primary-color);
}
