.root {
  font-size: 14px;
  padding: 25px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  gap: 30px;
  display: flex;
  flex-direction: row;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}

.headline {
  font-size: 40px;
  color: var(--accent-color);
  padding: 0;

  @media (min-width: 500px) {
    font-size: 50px;
  }
}

.description {
  font-size: 18px;
  color: var(--darkest-gray);

  @media (min-width: 500px) {
    font-size: 30px;
    max-width: 80%;
  }
}

.root.darkTheme {
  background-color: var(--dark-theme-background);
}

.darkTheme {
  .headline {
    color: white;
  }

  .description {
    color: white;
  }
}
