.root {
  text-align: left;
  width: 100%;
}

.container {
}

.label {
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}

.input {
  height: 40px;
  width: 100%;
  border-radius: 8px;
  border: none;
  padding: 10px;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.input:hover,
.input:focus {
  border-color: #d4af37;
  box-shadow: 0 0 5px rgba(212, 175, 55, 0.5);
}

.container.error {
  border-color: rgb(239 68 68);
}

.error {
  color: red;
  opacity: 100;
}
