.darkTheme {
  color: var(--lighter-text);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 25px;
  width: 100%;
  border: 2px solid var(--border-color);
  box-shadow: 5px 5px 0 var(--darkest-teal);

  @media (min-width: 744px) {
    flex-direction: row;
  }
}

.imageContainer {
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
