.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  @media (min-width: 744px) {
    padding: 50px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  background-color: var(--secondary-color);
  border: 2px solid var(--border-color);
  box-shadow: 5px 5px 0 var(--darkest-teal);
  padding: 25px;
  width: 100%;
  @media (min-width: 744px) {
    width: 70%;
    flex-direction: row;
  }
}

.imageContainer {
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detailsContainer {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
}

.title {
  font-weight: 600;
}
.name {
  font-size: 26px;
  margin-bottom: 10px;
}

.description {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.characteristics {
  margin-top: 20px;
}

.characteristics h2 {
  margin-bottom: 10px;
}

.characteristicItem {
  margin-bottom: 8px;
  font-size: 1em;
}

.editorButtons {
  font-size: 30px;
  text-decoration: none;
}

.delete {
  color: rgb(151, 22, 22);
}

.link {
  text-decoration: none;
}

.input {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  border: 2px solid var(--border-color);
  padding: 10px;
  font-size: 14px;
  font-family: var(--font-family);
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease;
  box-shadow: 3px 3px 0 var(--darkest-teal);
}

.input:hover {
  border-color: var(--lighter-teal);
}

.input:focus {
  background-color: var(--background-color);
  border-color: var(--primary-color);
}

.input::placeholder {
  color: var(--border-color);
  opacity: 0.7;
}
