.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 50px 25px;
  gap: 30px;
  align-items: flex-start;
  height: 100%;
}

.instrumentsList {
  display: flex;
  justify-content: space-evenly;
}
