.editorButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--border-color);
  background-color: var(--secondary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.link {
  text-decoration: none;
}

.edit {
  padding: 5px 10px;
  background-color: #8b0000;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit:hover {
  background-color: #b30404;
}

.delete {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: var(--accent-color);
  transition: transform 0.3s ease;
}

.delete:hover {
  transform: scale(1.1);
}

.modalButtons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;

  @media (min-width: 744px) {
    flex-direction: row;
  }
}
