.button {
  padding: 10px;
  font-family: var(--font-family);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 8px;
  height: 40px;
  min-width: 100px;
  max-width: 200px;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button.primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 2px solid var(--accent-color);
  box-shadow: 3px 3px 0 var(--darkest-teal);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.button.primary:hover {
  background-color: var(--hover-color);
  color: var(--secondary-color);
}

.button.primary:active {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

.button.secondary {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border: 2px solid var(--border-color);
  box-shadow: 3px 3px 0 var(--darkest-gray);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.button.secondary:hover {
  background-color: var(--border-color);
  color: var(--secondary-color);
}

.button.secondary:active {
  background-color: var(--darkest-gray);
  color: var(--secondary-color);
}
