.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.button {
  border-radius: 8px;
  background-color: var(--primary-color);
  border-color: var(--lighter-teal);
  border: none;
  padding: 5px;
  cursor: pointer;
  transition:
    box-shadow 0.3s ease,
    color 0.3s ease;
}

.button:hover {
  box-shadow: 3px 3px 0 var(--darkest-teal);
}

.arrow {
  font-size: 20px;
  fill: white;
}

.disabled {
  opacity: 70%;
}
