.paginationButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.paginationButton {
  border-radius: 100%;
  background-color: var(--primary-color);
  border-color: var(--lighter-teal);
  border: none;
  padding: 10px;
  cursor: pointer;
  transition:
    box-shadow 0.3s ease,
    color 0.3s ease;
}

.paginationButton:hover {
  box-shadow: 3px 3px 0 var(--darkest-teal);
}

.paginationButton:disabled {
}

.arrow {
  width: 25px;
  height: 25px;
  fill: white;
}

.disabled {
  opacity: 70%;
}
