.container {
}

.text {
  font-size: 12px;
  margin-bottom: 10px;
}

.email {
  font-size: 14px;
  margin-bottom: 30px;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}
