.root {
  font-family: var(--montserrat), Helvetica, Arial, sans-serif;
  position: relative;
  z-index: 30;
  width: 90%;
  padding: 24px 32px;
  background-color: #fff;
  box-shadow: 1px 1px 2px 0px #0000001f;
  color: #282828;

  @media (min-width: 744px) {
    width: 740px;
  }
}

.overlay {
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(40, 40, 40, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container {
  white-space: pre-line;
  font-size: 16px;
  font-weight: 400;
}

.closeButton {
  position: absolute;
  padding: 2px 5px;
  right: 10px;
  top: 10px;
  border: none;
  background-color: var(--lighter-teal);
  color: var(--secondary-color);
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 14px;
}

.closeButton:hover {
  background-color: var(--darker-teal);
}

.header {
  padding-bottom: 12px;
  border-bottom: 1px solid #ffffff1a;
  font-weight: 500;
  font-size: 24px;
}

.closeIcon {
  display: block;
  height: 24px;
  width: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--border-color);
  color: var(--primary-color);
  font-size: 16px;
  font-family: var(--font-family);
}

.content {
  padding: 25px 0px;
  font-family: var(--font-family);
  color: var(--accent-color);
  overflow-x: hidden;
}
