.root {
  border: 1px solid var(--border-color);
  background-color: var(--secondary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px 0px;
}

.img {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
