.root {
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.description {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dataContainer {
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


.root.darkTheme {
  background-color: var(--dark-theme-background);
  color: white;
}

.filtersPanel {
  opacity: 0;
  transform: translateY(-10px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  visibility: hidden;
  width: -100px;
}

.filtersPanel.visible {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
