.root {
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 25px;
  align-items: flex-start;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.description {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;

  @media (min-width: 744px) {
    align-items: flex-start;
    flex-direction: row;
  }
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media (min-width: 744px) {
    align-items: flex-end;
  }
}

.root.darkTheme {
  background-color: var(--dark-theme-background);
  color: white;
}
