
.info {
  border: 1px solid #d2d2d2;
  color: #9c9999;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.success {
  border-color: #bfd99f;
  color: #598129;
}

.fail {
  border-color: #dd2c00;
  color: #ad2401;
}
