* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  background-color: #faf3e0;
  color: var(--dark);
}

header {
  text-align: center;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 60px; /* Adjust based on your header content */
}

section {
  flex: 1;
  padding: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  height: 40px; /* Adjust based on your footer content */
}

:root {
  --burnt-orange: #d2691e;
  --cream: #faf3e0;
  --dark-brown: #8b4513;
  --copper: #b87333;
  --rust-red: #8b0000;
  --dark-rust: hsl(25, 76%, 31%);
  --teal: #008080;
  --white: #fff;
  --dark-teal: #006666;
  --darker-teal: #004d4d;
  --darkest-teal: #003333;
  --lighter-teal: #66b2b2;
  --lighter-teal-border: #339999;
  --lighter-text: #b3e0e0;
}
