* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
  color: var(--accent-color);
  font-family: var(--font-family);
}

header {
  text-align: center;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 60px; /* Adjust based on your header content */
}

footer {
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  height: 40px; /* Adjust based on your footer content */
}

:root {
  --primary-color: #008080; /* Teal */
  --secondary-color: #ffffff; /* White */
  --accent-color: #333333; /* Black */
  --background-color: #f0f0f0; /* Light Gray */
  --border-color: #cccccc; /* Gray */
  --hover-color: #005959; /* Darker Teal */
  --font-family: 'Courier New', Courier, monospace;
  --darkest-teal: #004c4c; /* Darkest Teal for box-shadow */
  --lighter-teal: #b2d8d8; /* Lighter Teal for disabled state */
  --lighter-teal-border: #a3c6c6; /* Lighter Teal Border for disabled state */
  --lighter-text: #888888; /* Lighter Text for disabled state */
  --darkest-gray: #666666; /* Darkest Gray for box-shadow */
  --lighter-gray: #d3d3d3; /* Lighter Gray for disabled state */
  --lighter-gray-border: #c0c0c0; /* Lighter Gray Border for disabled state */
}
