.root {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  padding: 25px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 25px;
  width: 100%;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--secondary-color);
  border: 2px solid var(--border-color);
  box-shadow: 5px 5px 0 var(--darkest-teal);

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.imageContainer {
  border: 1px solid black;
  padding: 20px;
  margin: 20px 0;
  background-color: var(--secondary-color);
  border: 2px solid var(--border-color);
  box-shadow: 5px 5px 0 var(--darkest-teal);
  @media (min-width: 1024px) {
    width: 50%;
    min-height: 480px;
  }
}

.editContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h2 {
  font-size: 50px;
}

.text,
.input {
  height: 40px;
  width: 100%;
  border-radius: 8px;
  border: none;
  padding: 10px;
}
.text,
.input:hover,
.input:focus {
  border-color: #d4af37;
  box-shadow: 0 0 5px rgba(212, 175, 55, 0.5);
}

.image {
  width: 100%;
}

.modalButtons {
  display: flex;
  gap: 20px;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;

  @media (min-width: 744px) {
    flex-direction: row;
  }
}
