.darkTheme {
  color: var(--lighter-text);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 25px;
  width: 100%;
  background-color: var(--secondary-color);
  border: 2px solid var(--border-color);
  box-shadow: 5px 5px 0 var(--darkest-teal);

  @media (min-width: 744px) {
    flex-direction: row;
  }
}

.editContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  @media (min-width: 744px) {
    width: 50%;
  }
}

.title {
  font-size: 30px;
}

.imageContainer {
  border: 1px solid black;
  padding: 20px;
  margin: 20px 0;
  background-color: var(--secondary-color);
  border: 2px solid var(--border-color);
  box-shadow: 5px 5px 0 var(--darkest-teal);

  @media (min-width: 1024px) {
    width: 50%;
    min-height: 480px;
  }
}
