.container {
  display: flex;
  align-items: left;
  flex-direction: column;
  gap: 10px;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: black;
  margin-top: 10px;

  &:hover {
    color: var(--darkest-teal);
  }
}
